@import url("https://fonts.googleapis.com/css?family=Asap:400,700");

@media only screen and (min-width: 1200px) {
    section[data-section-id="5fac3ed5c421505b5324f568"] .content-wrapper {
        padding-top: 2vh !important;
        height: 100vh
    }
    #collection-5fa97bc764a757513a1c682d .content-wrapper {
      overflow: hidden;
    }
}

html,body{
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #25435F;
    min-width: 1000px;
}


.header_home{
    align-items: center;
    background-color: #243b53;
    display: flex;
    height: 20vh;
    padding: 11px 57px;
    width: 100%;
}

.header_title{
    color: #bcccdc;
    font-family: var(--font-family-asap);
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 0;
    margin-left: 8px;
    min-height: 73px;
    min-width: 300px;
    align-items: center;
}

.user_avatar{
    border-radius: 55%;
    height: 75px;

    width: 75px;
    -webkit-filter: drop-shadow(3px 3px 3px #222222);
    filter: drop-shadow(3px 3px 3px #222222); 
}


.user_name{
    color: #f0f4f8;
    font-family: var(--font-family-asap);
    font-size: var(--font-size-l);
    font-weight: 700;
    letter-spacing: 0;
    min-height: 37px;
    min-width: 133px;
}

.userNMenu {
    display: grid;
    grid-template-columns: 100px 100px 50px;
    align-items: center;
    margin-left: auto;
}

.dropdown-menu {
    
    background-color: transparent ;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.dropdown .btn-secondary {
    background: url(menuButton.png);
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
}

.row#primary_view{
    display: flex;
    height: 80vh;
}

.col-8{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #173C5F;
    padding-top: 1%;
    padding-bottom: 1%;
}

.container#primary_view
{
    width: 83%;
    height: 73vh;
    color: #f0f4f8;
    background-color: #232B2B;
    border-radius: 4%;

    display: grid;

    grid-template-columns: 85%;
    grid-template-rows: 2% 1fr;

    justify-content: center;
    align-items: center;
}

.row#calendar_title{
    position: relative;
    text-align: center;
    align-self:flex-start;
    justify-self: center;
    padding-top: 3%;
    padding-bottom: 3%;
}


.btn-secondary#add_task{
    position: absolute;
    position:absolute;bottom:30px;left:30px;
    background-color: #C4C4C4;
    background-size: 50px 50px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: #2D803F;
    -webkit-filter: drop-shadow(3px 3px 3px #222222);
    filter: drop-shadow(3px 3px 3px #222222); 
    font-size: 5vh;
    text-align:center;
    padding: 0;
}